

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ques4</title>
</head>
<body>
    <div> 
        <h3>
            Ques 4: Explain Routing and how to use Attribute routing and implement below (P)

            https://localhost:5340/u/1.html  - Controller = User, UserId = 1

            https://localhost:5340/u/1/Detail - Controller = User,  UserId= 1, Action - Detail

        </h3>
        <br />
        <br />
        <br />

        <p style="font-size:large">
            I implemented attribute routing in the employee controller .
            such as employees/{id}
        </p>
    </div>
</body>
</html>
