
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ques5</title>
</head>
<body>
    <div> 
        <h1>Ques 5:  What is the use of viewmodel in mvc and  how to pass model viw to another partial view</h1>
        <br />
        <br />
        <br />
        <p style="font-size:large">
            A view model is a conceptual model of data.  ViewModel can have multiple entities or objects from different data models or data source.
        </p>
      
      <ul style="font-size:large">
          <li>
              Pass data from model view to partial view are:

          </li>
          <li>
              Pass data from enclosing View to Partial View.</li>
            <li>  
          Pass data to Partial View using ViewBag / ViewData.</li>
             <li> 
          Pass data to Partial View using TempData.</li>
              <li>
                  Pass data to Partial View using strongly typed model.
          </li>
      </ul>
    </div>

</body>
</html>
