

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ques2</title>
</head>
<body>
    <div> 
        <h1> Ques 2: How to pass view from the filter and share one example of IExceptionfilter </h1>
        <p style="font-size:large">We  can pass the view from the filter by implementing the OnExecution method as i have implemented in the IException Filter</p>

    </div>
</body>
</html>
