@inherits LayoutComponentBase

<div class="sidebar">
    <CustomNav />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
        <input type="button"value="logout" @onclick="@Logout" />
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code
{
    private void Logout()
    {
        _navigate.NavigateTo("/login");
    }
}
