
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">

    <div class="col-lg-6">
      <h1>MVC Basic Assignment</h1>
      <h3>Click the side bar links to go through the questions:</h3>
    </div>
    

</div>
