

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ques4</title>
</head>
<body>
    <div> 
        <h2>Ques 4:Explain Layout and how to set layout into view from Controller, View or globally</h2>

         <h3>Layout</h3>
         <p style="font-size:medium">Layout is the view which the user see while using the application.</p>
          <h3>Layout can be set in three ways:</h3>
          <h4>1) From the View</h4>
          <p style="font-size:medium"> Example:-   Layout = "~/Views/Shared/_MainLayout.cshtml";</p>
          <h4>2) Globally </h4>
          <p style="font-size:medium">The layout which is set in the _ViewStart.cshtml is globally defined it means it is applied to all the views</p>
          <h4>3) From Controller</h4>
          <p style="font-size:medium"> while creating view corressponding to the controller select the layout checkbox.</p>
    
    </div>
</body>
</html>
