


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ques5</title>
</head>
<body>
    <div> 
        <h2>Ques 5:What is bundling and how to use bundling in view</h2>
        <h4>Bundling is the way in which we combine and gather all the css and js files into one bundle i.e BundleConfig file
            present in the App_Start Folder.</h4>
        <h4>After making the bundle register that bundle in the Global.asax file.</h4>
        <br />
        <h4>
            <p>Styles.Render("~/bundle/css")</p>
            <p>Scripts.Render("~/bundle/css")</p>
        </h4>
    </div>
</body>
</html>
